*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}
.apply-box{
    background-color: rgb(237, 218, 169);
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
}
.title_small{
    font-size: 20px;
}
.form-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.form-control{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 16px;
}
input,textarea,select{
    height: 25px;
    width: 250px;
    border-radius: 4px;
}

